* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.login-page-cont {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .forms-cont {
        position: absolute;
        width: 500px;
        height: 500px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        perspective: 1000px;
        -webkit-perspective: 1000px;
    }

    .register-form,
    .login-form {
        background-color: #fff;
        box-shadow: -8px 5px 15px -8px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        padding: 15px 50px;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        transition: all 1s cubic-bezier(0.3, 0.49, 0.51, 1.23);
        -webkit-transition: all 1s cubic-bezier(0.3, 0.49, 0.51, 1.23);
        z-index: 1;
    }

    .register-form {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        z-index: 0;
    }

    .forms-cont.signin .register-form {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        z-index: 1;
    }

    .forms-cont.signin .login-form {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        z-index: 0;
    }

    .register-form form,
    .login-form form {
        position: absolute;
        left: 50%;
        top: 48%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        min-width: 80%;
    }

    .auth-logo {
        text-align: center;
        margin-bottom: 35px;
    }

    .auth-logo img {
        max-width: 70px;
        max-height: 70px;
        user-select: none;
        -webkit-user-drag: none;
    }

    .form-inputs .form-group {
        margin-bottom: 25px;
    }

    /* .form-inputs .form-group.form-check {
        margin-bottom: 22px;
    } */

    .form-inputs .form-group .input-label {
        color: #008498;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 3px;
    }

    .form-inputs .form-group .form-control {
        height: 40px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 25px;
        line-height: 40px;
        text-align: center;
    }

    .form-inputs .form-group .form-control::placeholder {
        color: #c5c5c5;
        font-weight: 300;
    }

    .remember-check-box {
        color: #808080;
        display: inline-block;
        position: relative;
        padding-left: 20px;
        font-size: 16px;
        margin: 0;
    }

    .remember-check-box .form-check-input {
        margin: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }

    .remember-check-box label {
        cursor: pointer;
    }

    .remember-check-box .check-box {
        position: absolute;
        border: 3px solid #008498;
        border-radius: 5px;
        width: 15px;
        height: 15px;
        margin: 0;
        left: 0;
        top: 5px;
    }

    .remember-check-box .check-box:before {
        content: "\f00c";
        color: #008498;
        position: absolute;
        left: -1px;
        top: -1px;
        font-size: 12px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }

    .remember-check-box .form-check-input[type=checkbox]:checked+.check-box::before {
        visibility: visible;
        opacity: 1;
    }

    .form-inputs .btn-block {
        border-radius: 25px;
        width: 65%;
        margin: 0 auto;
        height: 40px;
    }

    /* .register-form .auth-logo {
        margin-bottom: 16px;
    } 

    .register-form .form-inputs .form-group {
        margin-bottom: 8px;
    }*/

    .signin-btn {
        color: #9E9E9E;
        display: inline-block;
        position: absolute;
        padding: 5px;
        box-shadow: none !important;
        font-size: 14px;
        font-weight: 600;
      white-space: nowrap;
        top: 50%;
        left: 100%;
        transform: translate(10px, -50%);
        -webkit-transform: translate(10px, -50%);
    }

    .signin-btn:hover {
        color: #008498;
    }

    .signin-btn:active {
        transform: translate(10px, -50%) scale(0.9);
        -webkit-transform: translate(10px, -50%) scale(0.9);
    }