@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	
	font-family: 'Poppins', sans-serif;
  
}

@media (min-width: 1200px) {
    .wishlist_container,.nav,.parent,.footer{
      max-width: 1500px;
      margin: auto;
    }
  }
/* *{
	box-sizing: border-box;
} */
.wishlist_cards{
    display: flex;
    flex-wrap: wrap;
}
.wishlist_container{
    width: 80%;
    margin:auto;
	padding-bottom: 10px;
}
.wishlist-home-btn button {
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.wishlist-home-btn button:nth-child(2) {
    border-top: 0;
    border-right: 2px solid rgb(42, 41, 41);
    border-bottom: 0;
    border-left: 2px solid rgb(42, 41, 41);
    padding: 3px;
    margin-left: 5px;
    margin-right: 5px;
}
.wishlist-items-cards{
    display: flex;
        
}
.wishlist-items{
    height: 55%;
    /* background-color: blueviolet; */
    width: 35%;
    /* margin-top: -7px; */
    padding: 0;
    
    border-right:1px solid rgb(137, 137, 137);
}
.wishlist-items p {
    font-weight: 90rem;
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid rgb(126, 124, 124);
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .wishlist-items p:hover{
    color: #8b3436;
    transform: scale(1.02); 
  }

.initialwishlist{
    display: flex;
    gap: 25%;
}

.wishlistImage{
    width: 100%;
}

.cardwishlist{
    /* border: 2px solid rgb(77, 77, 77); */
    
        width: 230px;
        /* border: 2px solid rgb(77, 77, 77); */
        /* white-space: nowrap;
        overflow: hidden; */
        /* text-overflow: ellipsis; */
        padding: 15px;
        border-radius: 10px;
        /* line-height: 10px; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}

.wishlist-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    gap:30px;
}
.titleWishlistCart{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limit to 1 lines */
    -webkit-box-orient: vertical;
    font-size: 10px;
    
}

.detailwish{
    margin-top: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.removeBtnWish,.moveTocartBtn {
    border: none;
    background-color: #f2e9e9;
    color: #8b3436;
    transition: transform 0.6s ease; /* Added transition for smoother animation */
    margin-left: 5px ;
}

.removeBtnWish:hover,
.removeBtnWish:active ,.moveTocartBtn:hover,.moveTocartBtn:active {
    border:1px solid #8b3436;
    color: #591d1f;
    background-color: #f6eded;
    transform: scale(0.95); /* Apply a slight zoom out effect */
}

/* .moveTocartBtn{
    border: none;
    background-color: #f2e9e9;
    color: #8b3436;
} */
.borderLineBtn{
    color: #8b3436;
    margin-left: 5px;
}


