@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.footer-container{
	max-width: 75%;
	margin:auto;
	border-bottom:2px solid #8b3436;
	padding-bottom: 10px;
	
}
.footer-row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer li{
    list-style: none;
}
.footer{
	background-color: #efe3e3;
    padding: 70px 0;
    /* display: flex;
    flex-wrap: wrap; */
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   line-height: 2.4;
}
.footer-col h4{
	font-size: 22px;
	color: #8b3436;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
    font-weight: bold;
	left:0;
	bottom: -10px;
	background-color:#8b3436;
	/* height: 2px; */
	box-sizing: border-box;
	width: 70px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 20px;
	text-transform: capitalize;
	color: #211f1f;
	text-decoration: none;
	font-weight: 500;
	color: #211f1f;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #8b3436;
	padding-left: 8px;
}
.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	/* justify-content: center; */
	/* background-color:  #8b3436; */
	/* padding:0 0px 10px 0; */
	text-align: center;
	/* padding-top: 9px; */
	/* border-radius: 20%; */
	color: #8b3436;
	transition: all 0.5s ease;
	font-size: 26px;
	
}
.footer-col .social-links a :hover{
	height: 40px;
	width: 40px;
	padding-top: 9px;
	
	color: #ffffff;
	background-color: #8b3436;
}
.footer-logoes{
	max-width: 75%;
	margin:auto;
padding: 10px;

}
.footer-logoes a {
	color: 
	#8b3436;
	font-size: 40px;
	margin: 5px;
}

.fooeter-term-condition  :hover{
color: #5d2325;
}
.fooeter-term-condition {
	margin-left: 70%;
	margin-top: -20px;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col {
    width: 50%;
	h4{margin-bottom: 10px;line-height: 1;}
	ul{
		margin-top: -10px;
		display: none;
		line-height: 1.5;
		}
		ul:hover{
			padding-left: 5px;
		}
}
.footer-col .social-links a{
	height: 40px;
	width: 30px;
}
.footer-logoes{
	display: none;
}
.fooeter-term-condition {
	margin-left: 10%;
	margin-top: 10px;
}
}
@media(max-width: 574px) {
	.footer-col {
	  width: 100%;
	  h4{margin-bottom: 10px;line-height: 1; border: 2px solid #8b3436;padding: 5px 5px 5px 5px;}
	  ul{margin-top: -10px;
		display: none;
		line-height: 1.5;
		}
		ul:hover{
padding-left: 5px;
		}
	}
	.footer-col .social-links a{
		height: 40px;
		width: 30px;
		margin-right: 10px;
	}
	.footer-logoes{
		display: none;
	}
	.fooeter-term-condition {
		margin-left: 10%;
		margin-top: 10px;
	}
  }
  

